<div style="padding-top: 0px !important;" class="uk-section uk-section-default">
    <!--
    <form style="margin-left:13px; margin-right: 13px;" class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Pesquisar filme</mat-label>
            <input (input)="searchMovie=$event.target.value" id="nameMovie" matInput placeholder="Ex. Batman" value="">
        </mat-form-field>

    </form>
 
    -->
    <div id="topId" class="uk-container">
<!--         <div class="uk-margin">

            <form class="uk-search uk-search-default">
                <input (input)="searchMovie=$event.target.value" id="nameMovie" class="uk-search-input" type="search"
                    placeholder="Pesquisar...">
            </form>
            <button (click)="goToMovie()" class="uk-button uk-button-primary">Pesquisar</button>
        </div> -->

        <!--
        <div *ngIf="!upcomings" class="uk-flex uk-flex-center">
            <span class="uk-margin-small-right uk-position-center" uk-spinner="ratio: 3"></span>
        </div>
    -->
        <br>
        <ul class="uk-pagination">
            <li><button style="color:white;" class="uk-button uk-button-primary" *ngIf="numbpage !== 1"
                    (click)="goToPrevMovie()"><span class="uk-margin-small-right" uk-pagination-previous></span>
                    Anterior</button></li>
            <li class="uk-margin-auto-left"><button style="color:white;" class="uk-button uk-button-primary"
                    (click)="goToNextMovie()">Próximo <span class="uk-margin-small-left"
                        uk-pagination-next></span></button></li>
        </ul>
        <!--
    <div *ngFor="let movie of movies">
            <div *ngFor="let res of movie">
               {{res.title}}
             </div>
        </div>
        -->
        <br>
        <h1 class="uk-heading-line"><span>Filmes populares</span></h1>
        <div *ngIf="!movies" class="uk-flex uk-flex-center">
            <span class="uk-margin-small-right uk-position-center" uk-spinner="ratio: 3"></span>
        </div>
        <div *ngIf="movies !== undefined" class="uk-grid-small uk-child-width-1-3@s" uk-grid>
            <div *ngFor="let movie of movies.results">
                <div [routerLink]="['/detail', 'movie', movie.id]" class="uk-card uk-card-default uk-link-toggle uk-card-small uk-card-hover uk-grid-collapse uk-margin uk-animation-slide-top-small"
                    uk-grid>

                    <div class="uk-card-header" style="width: 100%;">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img width="100" height="180"
                                    src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom"><a class="uk-link-heading"
                                        href="#">{{movie.title}}</a></h3>
                                <p class="uk-text-meta uk-margin-remove-top"><span class="uk-badge">Rating:
                                        {{movie.vote_average}}</span>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100% !important;">

                        <div class="uk-card-body uk-card-small">
                            <p class="uk-panel uk-panel-box uk-text-truncate uk-dropcap">
                                {{movie.overview || movie.title}}</p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <br>
            </div>

        </div>
        <ul class="uk-pagination">
            <li><a *ngIf="numbpage !== 1" (click)="goToPrevMovie()" href="#topId" uk-scroll><span
                        class="uk-margin-small-right" uk-pagination-previous></span>
                    Anterior</a></li>
            <li class="uk-margin-auto-left"><a (click)="goToNextMovie()" href="#topId" uk-scroll>Próximo <span
                        class="uk-margin-small-left" uk-pagination-next></span></a></li>
        </ul>

    </div>


</div>