<!-- <nav style="background-color: #1e87f0;color: #fff;" class="uk-navbar-container uk-margin" uk-navbar>

  <div class="uk-navbar-center">
    <div>
      <ul class="uk-navbar-nav">
        <li><a style="color:white" href="#" routerLink="/trends">Home</a></li>
        <li><a style="color:white" href="#" routerLink="/movies">Filmes</a></li>
      </ul>
    </div>

  </div>
</nav> -->

<header id="site-head" >
  <div class="uk-container uk-container-expand">
    <div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
      <div class="uk-width-auto">
        <a href="#" class="uk-logo" title=""><img src="img/logo.svg" alt=""></a>
      </div>
      <div class="uk-width-expand">
        <form id="search-form" action="">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
            <input class="uk-input uk-width-1-1 search-fld" type="text" placeholder="O que deseja ?" autofocus>
            <a href="#" class="search-filter" data-uk-filter-control="[data-tags*='']" hidden>Search</a>
          </div>
        </form>
      </div>
      <div class="uk-width-auto">
        <ul class="uk-subnav" data-uk-margin>
          <li class="uk-visible@s"><a href="#" routerLink="/trends">Home</a></li>
          <li class="uk-visible@s"><a href="#" routerLink="/movies">Filmes</a></li>
          <li class="uk-visible@s">
            <a href="#" data-uk-icon="icon:comments"></a>
            <div class="drop-nav drop-comments uk-dropdown" data-uk-dropdown="mode: click; offset: 20;animation: uk-animation-slide-bottom-small; duration: 150">
              <ul class="uk-child-width-expand" data-uk-tab="animation: uk-animation-fade">
                <li><a href="#">Your Messages</a></li>
                <li><a href="#">Activity</a></li>
              </ul>
              <ul class="uk-switcher uk-margin">
                <li class="uk-height-small uk-overflow-auto">
                  <div class="message">
                    Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="" class="uk-link">VIEW MESSAGE</a>
                  </div>
                  <div class="message">
                    Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="" class="uk-link">VIEW MESSAGE</a>
                  </div>
                  <div class="message">
                    Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="" class="uk-link">VIEW MESSAGE</a>
                  </div>
                  <div class="message">
                    Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum...<a href="" class="uk-link">VIEW MESSAGE</a>
                  </div>
                </li>
                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
              </ul>
            </div>
          </li>
          <li class="uk-visible@s">
            <a href="#" data-uk-icon="icon:more"></a>
            <div class="drop-nav uk-dropdown" data-uk-dropdown="mode: click; offset: 20;animation: uk-animation-slide-bottom-small; duration: 150">
              <h4 class="uk-margin-small-bottom uk-margin-remove-adjacent">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
              <p class="uk-text-small uk-text-muted">Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <hr>
              <a href="#" class="uk-button uk-button-primary uk-width-1-1">UPDATE YOUR ACCOUNT</a>
              <hr>
              <ul class="uk-nav-default uk-nav-parent-icon" data-uk-nav>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" data-uk-icon="icon: trash"></span> Item</a></li>
              </ul>
            </div>
          </li>
          <li class="uk-hidden@s"><a data-uk-navbar-toggle-icon data-uk-toggle href="#offcanvas-nav"></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!--/HEADER-->
<div class="spacer"></div>

		<!-- OFFCANVAS -->
		<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
			<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
				<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
				<ul class="uk-nav uk-nav-default">
					<li class="uk-active"><a href="#">Active</a></li>
					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="#">Sub item</a></li>
							<li><a href="#">Sub item</a></li>
						</ul>
					</li>
					<li class="uk-nav-header">Header</li>
					<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
				</ul>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<!-- /OFFCANVAS -->

<!-- <footer style="background: #333333b8;" id="site-foot" class="uk-section uk-section-secondary uk-section-xsmall">
  <div class="uk-container uk-text-small uk-text-center">
    <a title="Visite o meu linkedin" target="_blank" href="https://www.linkedin.com/in/gabriel-matheus-a54907144/">Created by Gabriel Matheus <span data-uk-icon="icon:linkedin; ratio: 0.8"></span></a> | Built with <a href="https://getuikit.com" title="Uikit" target="_blank" data-uk-tooltip><span data-uk-icon="icon:uikit; ratio: 0.8"></span> </a>
  </div>
</footer> -->

<router-outlet></router-outlet>

		<!-- FOOTER -->
		<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
			<div class="uk-container">
				<div class="uk-grid uk-grid-large" data-uk-grid>
					<div class="uk-width-1-2@m">
						<h5>Gabriel Matheus Lopes de Veras</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud cillum dolore eu fugiat nulla contact to: <a href="#" title="">info@company.com</a></p>
						<div>
							<a href="" class="uk-icon-button" data-uk-icon="twitter"></a>
							<a target="_blank" href="https://www.linkedin.com/in/gabriel-matheus-a54907144/" class="uk-icon-button" data-uk-icon="linkedin"></a>
							<a href="" class="uk-icon-button" data-uk-icon="instagram"></a>
						</div>
					</div>
					<div class="uk-width-1-6@m">
						<h5>PRODUCTS</h5>
						<ul class="uk-list">
							<li>Big Data</li>
							<li>Marketing</li>
							<li>Analytics</li>
							<li>AI Lab</li>
						</ul>
					</div>
					<div class="uk-width-1-6@m">
						<h5>OUR COMPANY</h5>
						<ul class="uk-list">
							<li>Team</li>
							<li>Work</li>
							<li>Culture</li>
							<li>Contact Us</li>
						</ul>
					</div>
					<div class="uk-width-1-6@m">
						<h5>OUR OFFICES</h5>
						<ul class="uk-list">
							<li>London</li>
							<li>Chicago</li>
							<li>Dubai</li>
							<li>Brussels</li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="uk-text-center uk-padding uk-padding-remove-horizontal">
				<span class="uk-text-small uk-text-muted">© 2020 Created by Gabriel Matheus | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
			</div>
		</footer>